.content {
  display: flex;
}

.users {
  padding-left: 2rem;
  nb-card {
    min-width: 15rem;
  }
}

.voted-cards {
  display: flex;
  height: 10rem;
}

.voting-cards {
  display: flex;
  flex-wrap: wrap;
}
